/*
Jack Davey, 2021
Copyright n stuff I guess? 
I know using px is a sin, I'll update it soon lmao
*/

:root {
  --lightShade: #F9FBFB;
  --lightAccent: #E0CAC5;
  --mainBrand: #f78381;
  --darkAccent: #8c92a2;
  --darkShade: #565668;
}

@font-face {
  font-family: 'montserrat';
  src: url('fonts/Montserrat/montserratalternates-regular-webfont.woff2') format('woff2'),
  url('fonts/Montserrat/montserratalternates-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'athiti';
  src: url('fonts/Athiti/athiti-regular-webfont.woff') format('woff2'),
  url('fonts/Athiti/athiti-regular-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'didact';
  src: url('fonts/Didact/didactgothic-regular-webfont.woff') format('woff2'),
  url('fonts/Didact/didactgothic-regular-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--lightShade);
  margin: 0;
  font-family: montserrat;
}
h1{
  color: var(--mainBrand);
}
p{
  color: var(--darkShade);
}
a{
  color: var(--darkShade);
}
a:hover{
  color: var(--mainBrand);
}

#hero-section{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.title {
  color: var(--mainBrand);
  font-family: montserrat;
  grid-column: 2;
  grid-row: 2;
  font-size: 5em;
}

.info {
  color: var(--lightAccent);
  grid-column: 3;
  grid-row: 4;
  font-size: 1.5em;
}



.about-section{
  display: grid;
  background: var(--lightAccent);
}



.project-section{
  background: var(--lightShade);
  /* Flex direction not working, needs to be applied to parent maybe? 
  display: flex;
  flex-direction: row;
  */
}
.project{
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--darkShade);
}
.project-card{
  background: var(--lightAccent); /* Eventually add custom colors for each project */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  min-height: 300px;
  max-width: 25%;
  border-radius: 10px;
  margin-bottom: 20px;
}
.project-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}


.contact-section{
 display: grid;
 background: var(--lightAccent);
}


/*Add smooth scroll functionality later via jQuery button listener */
div.arrow {
 width: 6vmin;
 height: 6vmin;
 box-sizing: border-box;
 position: absolute;
 left: 48.5%;
 top: 90%;
 transform: rotate(135deg);
}
div.arrow::before {
 content: '';
 width: 100%;
 height: 100%;
 border-width: .8vmin .8vmin 0 0;
 border-style: solid;
 border-color: var(--lightAccent);
 transition: .1s ease;
 display: block;
 transform-origin: 100% 0;
}
div.arrow:after {
 content: '';
 float: left;
 position: relative;
 top: -100%;
 width: 100%;
 height: 100%;
 border-width: 0 .8vmin 0 0;
 border-style: solid;
 border-color: var(--lightAccent);
 transform-origin: 100% 0;
 transition: .2s ease;
}
/* Color no longer switches to mainBrand here??? */
div.arrow:hover::after {
 transform: rotate(45deg) translateX(3px) translateY(5px);
 color: var(--mainBrand);
 height: 110%;
}
div.arrow:hover::before {
 color: var(--mainBrand);
 transform: scale(.8);
}

.alert{
  background: var(--darkShade);
  color: var(--lightShade);
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 0px;
}
.close{
  background-color: var(--darkShade);
  opacity: 1;
  padding-top: .6rem !important;

}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--darkShade);
  }

  p{
    /*color: var(--lightShade);*/
  }

  .title {
    color: var(--mainBrand);
  }

  .info {
    color: var(--darkAccent);
  }

  .alert{
    background: var(--darkAccent);
  }

  div.arrow::before {
    border-color: var(--darkAccent);
  }

  div.arrow:after {
    border-color: var(--darkAccent);
  }

  .project-section{
    background: var(--darkShade);
  }
  .project-card{
    /* Eventually custom for each project */
    background: var(--darkAccent);
  }

  .about-section{
    background: var(--darkAccent);
  }
  
  .contact-section{
    background: var(--darkAccent);
  }
}

@media only screen and (max-width: 768px) {
    div.arrow:hover::after {
     transform: rotate(45deg) translateX(2px) translateY(4px);
   }
   .project-card{
    margin-left: 5%;
    max-width: 90%;
  }
}