@font-face {
    font-family: 'montserrat';
    src: url('fonts/Montserrat/montserratalternates-regular-webfont.woff2') format('woff2'),
         url('fonts/Montserrat/montserratalternates-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'athiti';
    src: url('fonts/Athiti/athiti-regular-webfont.woff') format('woff2'),
         url('fonts/Athiti/athiti-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'didact';
    src: url('fonts/Didact/didactgothic-regular-webfont.woff') format('woff2'),
         url('fonts/Didact/didactgothic-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #F9FBFB;
  margin: 0;
  font-family: montserrat;
}

@media (min-width: 500px) {
  .grid-container {
    grid-column-gap: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 740px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 48px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

#hero{
  display: flex;
}



.title {
  color: #EE8583;
  font-family: montserrat;
  grid-column: 2;
  grid-row: 2;
  font-size: 5em;
  margin: 1rem 4rem;
}

.info {
  color:lightslategray;
  grid-column: 4;
  grid-row: 2;
  width: 90%;
  font-size: 1.35em;
  margin-left: -35%;
}

.project{
  
}




@media (prefers-color-scheme: dark) {
  body {
    background-color: #565668;
  }

  .title {
    color: #E68886;
  }


  .info {
    color: #AA9490;
  }

  .highlight {
    color:coral;
  }
}