/*
Jack Davey, 2021
Copyright n stuff I guess? 
I know using px is a sin, I'll update it soon lmao
*/

:root {
  --lightShade: #F9FBFB;
  --lightAccent: #E0CAC5;
  --mainBrand: #f78381;
  --darkAccent: #8c92a2;
  --darkShade: #565668;
}


@font-face {
  font-family: 'montserrat';
  src: url('fonts/Montserrat/montserratalternates-regular-webfont.woff2') format('woff2'),
  url('fonts/Montserrat/montserratalternates-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'athiti';
  src: url('fonts/Athiti/athiti-regular-webfont.woff') format('woff2'),
  url('fonts/Athiti/athiti-regular-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'didact';
  src: url('fonts/Didact/didactgothic-regular-webfont.woff') format('woff2'),
  url('fonts/Didact/didactgothic-regular-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  background-color: var(--lightShade);
  margin: 0;
  font-family: montserrat;
}
h1{
  color: var(--mainBrand);
}
p{
  color: var(--darkShade);
}
a{
  color: var(--darkShade);
}
a:hover{
  color: var(--mainBrand);
}

#alertBar{
}

/* Navbar Styling */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 30px;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--darkShade);
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: var(--mainBrand);
}
.sidenav .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#navOpen{
  z-index: 100;
  position: fixed;
  float: right;
  right: 10px;
  top: 60px;
  color: var(--darkShade);
}
#navOpen:hover{
  color: var(--mainBrand);
}


#contentSection{
  transition: 1s;
}


#hero-section{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}



.title {
  color: var(--mainBrand);
  font-family: montserrat;
  grid-column: 2;
  grid-row: 2;
  font-size: 5em;
}

.info {
  color: var(--lightAccent);
  grid-column: 3;
  grid-row: 4;
  font-size: 1.5em;
}



.about-section{
  display: grid;
  background: var(--lightAccent);
}
#aboutMePicWrap{
  padding: 3%;
  height: 100%;
  margin-bottom: 15px;
}
#aboutMePic{
  border-radius:3% !important; 
  max-width: 100%;
  max-height: 370px;
}


.chip {
  display: inline-block;
  padding: 0 15px;
  margin: 1%;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: var(--lightShade);
}
.box { 
 padding: 10px; 
 margin-right:30px 
}



.project-section{
  background: var(--lightShade);
  display: grid;
}
.project{
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--darkShade);
}
.project-card{
  background: var(--lightAccent); /* Eventually add custom colors for each project */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-left: 2%;
  margin-right: 0%;
  transition: 0.3s;
  min-height: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.project-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}
.gitHubCard{
 margin-left: 6%;
 text-align: center;
 padding-top: 2%;
  background: var(--lightAccent); /* Eventually add custom colors for each project */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  margin-top: 80px;
  display: grid;
}
.gitHubCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}
#githubimg{
	display: inline-block;
	vertical-align: center;
	max-width: 50%;
}
.blocked{
	/* Overlay Coming Soon msg and darken background */
}


.contact-section{
 display: grid;
 background: var(--lightAccent);
}


/*Add smooth scroll functionality later via jQuery button listener */
div.arrow {
 width: 6vmin;
 height: 6vmin;
 box-sizing: border-box;
 position: absolute;
 left: 48.5%;
 top: 90%;
 transform: rotate(135deg);
}
div.arrow::before {
 content: '';
 width: 100%;
 height: 100%;
 border-width: .8vmin .8vmin 0 0;
 border-style: solid;
 border-color: var(--lightAccent);
 transition: .1s ease;
 display: block;
 transform-origin: 100% 0;
}
div.arrow:after {
 content: '';
 float: left;
 position: relative;
 top: -100%;
 width: 100%;
 height: 100%;
 border-width: 0 .8vmin 0 0;
 border-style: solid;
 border-color: var(--lightAccent);
 transform-origin: 100% 0;
 transition: .2s ease;
}
/* Color no longer switches to mainBrand here??? */
div.arrow:hover::after {
 transform: rotate(45deg) translateX(4.5px) translateY(4.5px);
 border-color: var(--mainBrand);
 height: 110%;
}
div.arrow:hover::before {
 border-color: var(--mainBrand);
 transform: scale(.8);
}

.alert{
  background: var(--darkShade);
  color: var(--lightShade);
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 0px;
}
.close{
  background-color: var(--darkShade);
  opacity: 1;
  padding-top: .2rem !important;

}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--darkShade);
  }

  p{
   color: var(--darkShade);
 }

#navOpen{
	color: var(--lightShade);
}
.sidenav a{
	color: var(--lightShade);
}

 .title {
  color: var(--mainBrand);
}

.info {
  color: var(--darkAccent);
}

.alert{
  background: var(--darkAccent);
}

#aboutMePicWrap{
  filter:brightness(85%);

}
.chip{
  background-color: var(--darkShade);
  color: var(--lightShade);
}

div.arrow::before {
  border-color: var(--darkAccent);
}

div.arrow:after {
  border-color: var(--darkAccent);
}

.project-section{
  background: var(--darkShade);
}
.project-card{
  /* Eventually custom for each project */
  background: var(--darkAccent);
}
.gitHubCard{
  background: var(--darkAccent);
}

.about-section{
  background: var(--darkAccent);
}

.contact-section{
  background: var(--darkAccent);
}
}

@media only screen and (max-width: 768px) {

  #introFacts{
    padding-left: 5%;
  }

  div.arrow:hover::after {
   transform: rotate(45deg) translateX(2px) translateY(4px);
 }
 .project-section{
  flex-direction: column;
}
.project-card{
  margin-left: 5%;
  max-width: 90%;
}
.gitHubCard{
  margin-left: 5%;
  max-width: 90%;
    margin-top: 0px;
    margin-bottom: 3%;

}
#githubimg{
	max-width: 20%;
}
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}