@import url("https://use.typekit.net/pzl7jlg.css");

/* @font-face {
  font-family: "sometype";
  src: local('sometype'), url(./fonts/sometype/SometypeMono-Regular.otf) format('opentype');
} */

html {
  background-color: #F9FBFB;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #5D1731;
  }
}


* {
  margin: 0;
  /* border: 5px solid red; */
}

html,
body {
  /* border: 5px solid red; */
  /* -webkit-overflow-scrolling: touch; */
  max-width: 100%;
  scroll-behavior: smooth;
}


canvas {
  background-color: aqua;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(40px);
}

p {
  font-family: 'Raleway', sans-serif;

  text-decoration: none;
  /* color: black; */
}

span,
p,
a {
  font-size: 1.2em;
}

h3 {
  font-size: 1.5em;
  /* font-family: minion-pro-condensed-caption, serif; */
  font-family: 'Raleway', sans-serif;
}

@media screen and (max-height: 600px) {
  div.arrow {
    display: none;
  }
}

div.arrow {
  width: 4rem;
  height: 4rem;
  box-sizing: border-box;
  position: relative;
  transform: rotate(135deg);

}

div.arrow::before {
  content: '';
  width: 100%;
  height: 100%;
  border-width: 0.3rem 0.3rem 0 0;
  border-style: solid;
  border-color: '#94A098';
  transition: .1s ease;
  display: block;
  transform-origin: 100% 0;
}

div.arrow:after {
  content: '';
  float: left;
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  border-width: 0 0.3rem 0 0;
  border-style: solid;
  /* border-color: var(--lightAccent); */
  transform-origin: 100% 0;
  transition: .2s ease;
}

div.arrow:hover::after {
  transform: rotate(45deg) translateX(-.16vmin) translateY(.4vmin);
  /* border-color: var(--mainBrand); */
  height: 110%;
}

div.arrow:hover::before {
  /* border-color: var(--mainBrand); */
  transform: scale(.8);
}

.scroll-link {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 85%;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

}



SectionTitle {
  font-family: jeanne-moderno-geometrique, sans-serif;
}


nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #F9FBFB;
  opacity: 0.8;
  filter: blur(10px);
}

@media screen and (max-width: 600px) {
  .background {
    width: 100vw;
  }
}



#menutoggle {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

#menuListContainer {
  position: fixed;
  width: 300px;
  /* background-color: aqua; */
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 10vh;
}

@media screen and (max-width: 600px) {
  #menuListContainer {
    width: 100vw;

  }
}

#menuListItem {
  font-family: minion-pro-condensed-subhead, serif;
  font-size: 1.5em;
  text-decoration: none;
  transition: .2s ease;
  list-style: none;
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
  z-index: 1;

}

.project-description {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Raleway, sans-serif;
  font-size: 1em;
  /*     
      color: $ {
        COLORS.darkShade
      } */


  text-align: center;
  width: 100%;
  position: relative;


}

.project-description span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Adjust the following line to use a specific color as CSS doesn't support variables in the same way as styled-components */
  background-color: #f0f0f0;
  /* Example color */
  mix-blend-mode: soft-light;
  opacity: 0.4;
  z-index: -1;
  border-radius: 1rem;
}