.App {
  text-align: center;
}

* {
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

canvas {
  background-color: aqua;
  width: 100vw;
  height: 100vh;
}